body{ 
    background-image: linear-gradient(to bottom, 
    #3F8AE0
    ,#BB28FA 73%);
    background-attachment: fixed;
}

#title{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: -5px;
}

section{
    border-radius: 20px;
    margin: auto;
    margin-top: 8%;
    background-color: white;
    width: 800px;
    padding: 20px;
}

#taskaddition{
    text-align: center;
}

#newtask{
    width: 650px;
    height: 30px;
    border: 1px solid black;
    border-radius: 20px;
}

#addbutton{
    height: 33px;
    border: 1px solid black;
    border-radius: 20px;
}

.container {
    display: flex;
    align-items: center;
}

ul{
    list-style: none;
}

li{
    width: 772px;
    margin-top: 10px;
    margin-left: -33px;
    line-height: 28px;
    overflow-wrap: break-word;
    padding-left: 10px;
    text-decoration: none;
}

.taskdone{
    background-color: #3B4AF5;
    color: white;
    border-radius: 20px;
}

.removetaskbutton{
    background-color: #642DE0;
    color: white;
    border-radius: 20px;
}